<#@ template language="C#" hostspecific="True" debug="True" #>
<#@ output extension="log" #>
<#@ include file="T4Toolbox.tt" #>
<#@ include file="..\..\Common\XSDToIncludeGenerator.ttinclude" #>
<#
	System.IO.DirectoryInfo dirInfo = new System.IO.DirectoryInfo(System.IO.Path.GetDirectoryName(Host.TemplateFile));
	dirInfo = dirInfo.Parent;
	GenerateTTInclude(Host.TemplateFile, dirInfo.FullName);								
#>
								
