<#@ template debug="false" hostspecific="false" language="C#" #>
<#@ output extension=".txt" #>
<#@ import namespace="System" #>

Hello World! Current time is: <#= System.DateTime.Now #> or with import-statement <#= DateTime.Now #>