<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="TechDays2012DemoEntities" connectionString="metadata=res://*/T4AspectDemonstrationModel.csdl|res://*/T4AspectDemonstrationModel.ssdl|res://*/T4AspectDemonstrationModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=TechDays2012Demo;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>